<!DOCTYPE html>
<html>
  <head>
    <title>手写识别</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>手写识别</h1>
      <div class="row">
        <div class="col-md-6">
          <p>在下面画数字（0~50）、对（√）、错（×）</p>
          <canvas id="main"></canvas>
          <p>
            <button id="clear" class="btn btn-default">清除</button>
          </p>
        </div>
        <div class="col-md-6">
          <p>输入:</p>
          <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
          <hr>
          <p>结果:</p>
          <table id="output" class="table">
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2">数字</th>
              <th class="col-md-2">对错</th>
            </tr>
            <tr>
              <th>1st guess</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>2st guess</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>3st guess</th>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
